@()(implicit session: play.api.mvc.Session)
@import navigation.nav
@css = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/deal_hub.css")">
}

@js = {
    <script>
        $(document).ready(updateFundDealRelations);

        function updateFundDealRelations(){
            $.get("/api/fundDeal/list").done(renderFundDealRelations);
        }

        function renderFundDealRelations(fundDealRelations){
            var template = $('#template').html();
            Mustache.parse(template);   // optional, speeds up future uses
            var rendered = Mustache.render(template, {fundDealRelations: fundDealRelations});
            $("#fundDealRelation-table").find("tbody").html(rendered);
        }


        function search(){
            var rows = $("fundDealRelation-table").find("tbody tr");
            rows.hide();
            var searchText = $("#search").val().toLowerCase();
            rows.each(function(){
                var $this = $(this);
                var deal = $this.find("td:first").text().toLowerCase();
                var fund = $this.find("td:nth-child(2)").text().toLowerCase();
                if(fund.indexOf(searchText) != -1 || deal.indexOf(searchText) != -1){
                   $this.show();
                }
            });
        }

        var $modal = $("#url-extraction-modal");
        var $modalLoader = $modal.find(".loader");
        var $modalTable = $("#fundDealRelation-extraction-table");


        $("#search").keyup(search);

var hub = (function(){
    var $createfundDealForm = $('#createfundDealForm');
    var $newfundDealName = $($createfundDealForm.find('input')[1]);
    var $newfundDealUrl = $($createfundDealForm.find('input')[2]);

    var $updatefundDealModal = $('#updatefundDealModal');
    var $updatefundDealModalBody = $updatefundDealModal.find('.modal-body');
    var $updateTemplate = $('#update-template');


    function createfundDeal(){
        if($newfundDealName.val() == '' || $newfundDealUrl.val() == ''){
            alert('Some fields are incomplete!');
        } else {
            $createfundDealForm.submit();
        }
    }

    function toggleUpdateModal(fundDeal){

        $updatefundDealModalBody.html(Mustache.render($updateTemplate.html(), fundDeal));
        if(fundDeal.verified) $updatefundDealModalBody.find('input[type=checkbox]').prop('checked', true);
        else $updatefundDealModalBody.find('input[type=checkbox]').prop('checked', false);
        $updatefundDealModal.modal('toggle');
    }

    function updatefundDeal(){
        var data = {
            id: $($updatefundDealModalBody.find('input')[0]).val(),
            name: $($updatefundDealModalBody.find('input')[1]).val(),
            url: $($updatefundDealModalBody.find('input')[2]).val(),
            verified: $($updatefundDealModalBody.find('input')[3]).is(':checked')
        };
        $.ajax({
            url: '/api/fundDeal',
            method: 'put',
            data: data
        }).success(location.reload());
    }

    return {
        createfundDeal : createfundDeal,
        updatefundDeal : updatefundDeal,
        toggleUpdateModal : toggleUpdateModal
    }
})();



    </script>
}

@nav(css, js) {
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fund Deals Connection</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id="fundDealRelation-table">
                        <thead>
                            <tr>
                                <th>Fund</th>
                                <th>Deal</th>
                                <th>Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <script id="template" type="x-tmpl-mustache">
                    {{#fundDealRelations}}
                        <tr>
                            <td>{{fund}}</td>
                            <td>{{deal}}</td>
                            <td>{{verified}}</td>
                            <td><button type="button" class="btn btn-default" onclick='hub.toggleUpdateModal({id : {{id}},details : "{{details}}", verified: {{verified}} })'>Details</button></td>
                        </tr>
                    {{/fundDealRelations}}
                </script>

            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search</h3>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <input type="text" class="form-control" placeholder="Search..." id="search">
                        <button class="btn btn-primary" onclick="search()" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updatefundDealModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                    <script id="update-template" type="x-tmpl-mustache">
                        <input type="number" style="display : none" name="id" value="{{id}}" class="form-control">


                        <div class="form-group">
                                <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="checkbox" name="verified" value="true">
                            <label for="verified">Verified</label>
                        </div>
                         <div class="form-group">
                            <label for="name">Details</label>
                            <textarea name="details" placeholder="Details" class="form-control" >"{{details}}"</textarea>
                        </div>
                        </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="hub.updatefundDeal()">Accept</button>
                </div>
            </div>
        </div>
    </div>
    

}