@()(implicit session: play.api.mvc.Session)
@import navigation.nav
@css = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/deal_hub.css")">
}

@js = {
    <script>
        $(document).ready(updateDeals);

        function updateDeals(){
            $.get("/api/deal/list").done(renderDeals);
        }

        function renderDeals(deals){
            var template = $('#template').html();
            Mustache.parse(template);   // optional, speeds up future uses
            var rendered = Mustache.render(template, {deals: deals});
            $("#deal-table").find("tbody").html(rendered);
        }

        function search(){
            var rows = $("#deal-table").find("tbody tr");
            rows.hide();
            var searchText = $("#search").val().toLowerCase();
            rows.each(function(){
                var $this = $(this);
                var name = $this.find("td:first").text().toLowerCase();
                var url = $this.find("td:nth-child(2)").text().toLowerCase();
                if(name.indexOf(searchText) != -1 || url.indexOf(searchText) != -1){
                   $this.show();
                }
            });
        }

        var $modal = $("#url-extraction-modal");
        var $modalLoader = $modal.find(".loader");
        var $modalTable = $("#deal-extraction-table");

        function extractFromUrl(){
            $modal.modal().toggle(true);
            $modalLoader.toggleClass("hidden", false);
            $modalTable.toggleClass("hidden", true);
            var $input = $("#extraction-url");
            $.ajax({
                url: "/api/deal/extract/url",
                method: "POST",
                data: {url : $input.val()},
                timeout: 900000
            }).done(renderUrlExtractionResults);
        }

        var extractedDeals;

        function renderUrlExtractionResults(deals){
            $modalLoader.toggleClass("hidden", true);
            $modalTable.toggleClass("hidden", false);

            extractedDeals = deals;
            var auxArray = [];
            for (idx in deals) auxArray.push({'i': idx, 'deal':deals[idx]});

            //Mustache!
            var template = $('#editable-template').html();
            Mustache.parse(template);   // optional, speeds up future uses
            var rendered = Mustache.render(template, {deals: auxArray});

            $modalTable.find("tbody").html(rendered);
        }

        function saveExtractionResults(){
            $("#deal-list-form").submit();
        }

        $("#search").keyup(search);

    </script>
}

@nav(css, js) {
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Deal list</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id="deal-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <script id="template" type="x-tmpl-mustache">
                    {{#deals}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{url}}</td>
                            <td>{{verified}}</td>
                        </tr>
                    {{/deals}}
                </script>

            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search</h3>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <input type="text" class="form-control" placeholder="Search..." id="search">
                        <button class="btn btn-primary" onclick="search()" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create manually</h3>
                </div>
                <div class="panel-body">
                @helper.form(routes.DealController.post()) {
                        <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="number" style="display : none" name="id" value="-1" class="form-control">
                    <div class="form-group">
                        <label for="name">Deal name</label>
                        <input type="text" name="name" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="url">Deal URL</label>
                        <input type="text" name="url" placeholder="URL" class="form-control">
                    </div>
                    <div class="form-group">
                            <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="checkbox" name="verified" value="true">
                        <label for="verified">Verified</label>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">
                        Create deal
                    </button>
                }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Extract from URL</h3>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <p class="info">Given an fund URL, the scrapper will find deals in the given URL.</p>
                        <input type="text" class="form-control" placeholder="URL..." id="extraction-url">
                        <button class="btn btn-primary" onclick="extractFromUrl()" type="button">Extract</button>
                    </div>
                    <div class="form-inline">
                        <li><a href="@routes.DealController.updateAllFunds">Update</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="url-extraction-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Extraction results</h4>
                </div>
                <div class="modal-body">
                    <img class="loader" src="@routes.Assets.at("images/loader.gif")">
                </div>
                <form method="post" action="@routes.DealController.postList" id="deal-list-form">
                    <table class="table" id="deal-extraction-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveExtractionResults()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div> <!-- /.modal -->
    <script id="editable-template" type="x-tmpl-mustache">
        {{#deals}}
            <tr>
                <td class="hidden"><input type="number" name="deal[{{i}}].id" value="{{deal.id}}"></td>
                <td><input type="text" name="deal[{{i}}].name" value="{{deal.name}}"></td>
                <td><input type="text" name="deal[{{i}}].url" value="{{deal.url}}"></td>
                <td><input type="text" name="deal[{{i}}].verified" value="{{deal.verified}}"></td>
            </tr>
        {{/deals}}
    </script>
}