@(fundForm: Form[Fund])(implicit session: play.api.mvc.Session)
@import navigation.nav
@css = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/fund_hub.css")">
}

@js = {
    <script src="@routes.Assets.at("javascripts/fund-hub.js")" rel="script"></script>
}

@nav(css, js) {
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fund list</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id="fund-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <script id="template" type="x-tmpl-mustache">
                    {{#funds}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{url}}</td>
                            <td>{{verified}}</td>
                            <td><button type="button" class="btn btn-default" onclick="hub.toggleUpdateModal({id : {{id}}, name: '{{name}}', url: '{{url}}', verified: {{verified}} })">Edit</button></td>
                        </tr>
                    {{/funds}}
                </script>

            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search</h3>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <input type="text" class="form-control" placeholder="Search..." id="search">
                        <button class="btn btn-primary" onclick="search()" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create manually</h3>
                </div>
                <div class="panel-body">
                    @helper.form(action = routes.FundController.post, 'id -> "createFundForm") {
                            <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="number" style="display : none" name="id" value="-1" class="form-control">
                        <div class="form-group">
                            <label for="name">Fund name</label>
                            <input type="text" name="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="url">Fund URL</label>
                            <input type="text" name="url" placeholder="URL" class="form-control">
                        </div>
                        <div class="form-group">
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="checkbox" name="verified" value="true">
                            <label for="verified">Verified</label>
                        </div>
                        <button type="button" onclick="hub.createFund()" class="btn btn-primary pull-right">
                            Create fund
                        </button>
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Actions hub</h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-primary" onclick="updateLavca()">Update LAVCA</button>
                    <button class="btn btn-primary" onclick="updateEmpea()">Update EMPEA</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateFundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                        <script id="update-template" type="x-tmpl-mustache">
                        <input type="number" style="display : none" name="id" value="{{id}}" class="form-control">
                        <div class="form-group">
                            <label for="name">Fund name</label>
                            <input type="text" name="name" placeholder="Name" class="form-control" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label for="url">Fund URL</label>
                            <input type="text" name="url" placeholder="URL" class="form-control" value="{{url}}">
                        </div>
                        <div class="form-group">
                                <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="checkbox" name="verified" value="true">
                            <label for="verified">Verified</label>
                        </div>
                        </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="hub.updateFund()">Accept</button>
                </div>
            </div>
        </div>
    </div>

}