@()(implicit session: play.api.mvc.Session)
@import navigation.nav
@css = {
    <link href="@routes.Assets.at("stylesheets/index.css")" type="text/css" rel="stylesheet">
}
@js = {
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="@routes.Assets.at("javascripts/index.js")"></script>
}
@nav(css, js) {
    <div class="jumbotron">
        <h1>Scrapper, crawler, database</h1>
        <p>VC Deals™ is a web crawling/scrapping tool whose purpose is to gather and store information about V.C. funds
            that have participated in the financing of emerging companies in selected countries of Latin America.</p>
    </div>
    <h4>Release 0.0.2 (09/03/2015)</h4>
    <ul>
        <li>Log in</li>
        <li>Get deals from fund webpage <span class="label label-default">Major feature</span></li>
        <li>User validation</li>
        <li>User manual input for deals and funds</li>
        <li>Front end v.1</li>
    </ul>
    <h4>Release 0.0.1 (08/06/2015)</h4>
    <ul>
        <li>Launch manual information updates</li>
        <li>Generate requests</li>
        <li>Identify funds from LAVCA and EMPEA <span class="label label-default">Major feature</span></li>
        <li>Fund DB integration</li>
    </ul>
}


